body,
div,
header,
nav,
ul,
li,
section,
h1,
p {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: Calibri, Verdana, sans-serif;
}
#wrapper {
  background-color: #1e3741;
  position: relative;
  width: 830px;
  border: 1px solid #0094ff;
  border-radius: 5px;
  height: 387px;
}
header {
  padding-top: 10px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding-left: 5px;
  background-color: #1e3741;
}
li {
  display: inline-block;
  padding: 10px;
  background-color: #4b5f67;
  font-weight: bold;
}
li a {
  color: #78a1ab;
}
li:hover {
  text-decoration: underline;
}
li.active {
  background-color: #1e3741;
}
li.active a {
  color: #fff;
}
h1 {
  color: #fff;
  background-color: #00968c;
  width: 260px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
}
.article {
  width: 250px;
  margin-top: -12px;
  margin-bottom: 0;
  padding-left: 8px;
  padding-top: 12px;
}
.article a {
  color: #78a1ab;
  font-size: 16px;
  text-decoration: none;
}
hr {
  border-color: #606566;
  display: inline-block;
  width: 260px;
}
iframe {
  position: absolute;
  top: 56px;
  left: 261px;
  width: 553px;
  height: 311px;
}
