body, div, header, nav, ul, li, section, form, fieldset
    margin 0
    padding 0
body 
    font-family: Calibri,Verdana,sans-serif;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    height: 600px;
    width: 665px;
header
    nav
        ul
            li 
                display: inline-block
                font-size: 24px
                font-weight: bold
                color #84B5C9
    hr
        width: 96%
        border 1px solid black
div#wrapper
    margin 5px 10px
ul
    list-style-type: none
    li
        display: inline
        padding 5px
div#laptop 
    position: relative;
    float: left;
    width: 408px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0 5px 10px 5px;
fieldset 
    width: 200px;
    float: left;
    border: 2px solid black;
    border-radius: 3px;
img 
    float: left;4
    margin-right: 10px;
    width: 126px;
    height: 80px; 
.info
    line-height: 220%;
    display: inline-block;
    margin-bottom: 0;
div#sliders 
    position: relative;
    padding-top: 50px;
    & ul 
        line-height: 220%;
        padding-left: 10px;
        & li 
            padding: 5px 5px 5px 10px;
            display: inline;
        
           